<router-outlet />

<div class="container">
    <ax-box variant="primary" width="xxxl" height="xxxl">
     Primary
    </ax-box>
    <ax-box variant="secondary" width="xxl" height="xxl">
     Secondary
    </ax-box>
    <ax-box variant="success" width="xl" height="xl">
     Success
    </ax-box>
    <ax-box variant="warning" width="lg" height="lg">
     Warning
    </ax-box>
    <ax-box variant="danger" width="md" height="md">
     Danger
    </ax-box>
    <ax-box variant="information" width="sm" height="sm">
     Information
    </ax-box>
</div>
