<router-outlet />

<div class="container">
    <div class="theme-toggle">
        <ax-box 
            variant="primary" 
            width="sm" 
            height="md"
            (click)="toggleTheme()">
            {{ getCurrentTheme() === 'light' ? '🌙' : '☀️' }}
        </ax-box>
    </div>

    <ax-box variant="primary" width="lg" height="md">
     Primary
    </ax-box>
    <ax-box variant="secondary" width="lg" height="md">
     Secondary
    </ax-box>
    <ax-box variant="success" width="lg" height="md">
     Success
    </ax-box>
    <ax-box variant="warning" width="lg" height="md">
     Warning
    </ax-box>
    <ax-box variant="danger" width="lg" height="md">
     Danger
    </ax-box>
    <ax-box variant="information" width="lg" height="md">
     Information
    </ax-box>
</div>
